/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    color: #0000cc;
    text-decoration: none;
}

a:visited {
    color: #6060cc;
}

a:hover {
    text-decoration: underline;
}

/* Header styles */
header {
    background-color: #f4f4f4;
    padding: 1rem;
    margin-bottom: 2rem;
}

header h1 {
    margin-bottom: 1rem;
}

header h1 a {
    color: #333;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 1rem;
}

/* Main content styles */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

article {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
}

article h2, article h3 {
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.post-meta {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.post-content {
    margin-top: 1rem;
}

.post-content p {
    margin-bottom: 1rem;
}

.post-content ol, 
.post-content ul {
    margin: 1.5rem 0;
    padding-left: 1rem;
}

.post-content ol {
    list-style-type: decimal;
    list-style-position: initial;
}

.post-content ul {
    list-style-type: disc;
    list-style-position: initial;
}

.post-content li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li .post-date {
    background-color: #e6e6fe;
    padding: 2px 5px;
    font-size: 0.8em;
    color: #333;
    border-radius: 3px;
}

.topics-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.topics-list li {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

.additional-content {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
}

.source, .author {
    font-style: italic;
    color: #666;
    margin-top: 1rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.navigation .prev-link, 
.navigation .next-link {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 48%;
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    word-wrap: break-word;
    position: relative;
}

.prev-link {
    text-align: left;
}

.next-link {
    text-align: right;
}

.navigation .prev-link::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #f4f4f4;
}

.navigation .next-link::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #f4f4f4;
}

.topic-box {
    background-color: #cfd6fe;
    color: #000;
    padding: 5px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

.topic-box a {
    color: #000;
    text-decoration: none;
}

.topic-box a:hover {
    text-decoration: underline;
}


/* Image styles */
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination a, .pagination span.current {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.pagination span.current {
    background-color: #f4f4f4;
}

/* Footer styles */
footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f4f4f4;
}

/* Responsive styles */
@media (min-width: 768px) {
    main {
        grid-template-columns: 2fr 1fr;
    }

    .sidebar {
        padding-left: 2rem;
        border-left: 1px solid #ddd;
    }
}

@media (max-width: 767px) {
    header {
        text-align: center;
    }

    nav ul {
        justify-content: center;
    }

    nav ul li {
        margin: 0.5rem;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation .prev-link, 
    .navigation .next-link {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .navigation .prev-link::before, 
    .navigation .next-link::after {
        display: none;
    }

}

